  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left {
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    width: 55vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 239, 239);
    width: 65vw;
  }

  .first {
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 15%;
    font-size: 15px;
  }

  .second {
    height: 33vh;
    background-color: white;
    align-items: center;
    box-shadow: 2px 5px rgb(56, 56, 56);
  }

  .main-form-div {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
    font-size: 6px;
    font-weight: bold;
  }

  .form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  input {
    width: 200px;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}

  input:focus {
    border: 1px solid blue;
}

label {
    font-size: 10px;
    color: #3b3b3c;
  }

  #error {
    color: red;
    font-size: 10px;
    margin: 19px;
  }

  .btn-green {
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    font-weight: bolder;
    font-size:small;
    box-shadow: 2px 5px #E5E7EB;
  }

  .third {
    margin-left: 50px;
    margin-top: 25px;
  }

  .link {
    margin-left: 50px;
    margin-top: 25px;
  }

  .login {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
  }

  .a-footer {
    color: white;
  }

  .p-footer {
    font-size: 10px;
  }

  .forFooter {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 45px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.Image {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
  }